@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}


body, .wrapper{
  display: flex;
  align-items: center;
  justify-content: center;
}

body{
  padding: 0 10px;
  min-height: 100vh;
  background: #4A98F7;
}

.wrapper{
  width: 440px;
  padding: 30px 30px 38px;
  background: #fff;
  border-radius: 10px;
  flex-direction: column;
  box-shadow: 0 10px 25px rgba(0,0,0,0.1);
}

.hero {

width:100%;
display: flex;
  align-items: center;
  justify-content: center;
flex-direction:column;
padding:1rem;

  background-image: url(holy-kaaba.jpg);
background-repeat: no-repeat;
background-size:cover;
background-position: center;
border-radius:5px;
}

.wrapper img{
  max-width: 100px;
}

.wrapper h1{
  font-weight: 500;
  text-align:center;
background-color:#4A98F7;
color:#fff;;
padding:0.1rem 0.5rem;
border-radius:5px;
margin-top:10px;

}

.wrapper h2 {
text-align:center;
margin:0.5rem;
}

.content {
background-color:#fff;
padding: 0.5rem;
border-radius:5px;
}

.content input {
width: 120px;
}

.content button {
padding:0.3rem;
background-color: #4A98F7;
border:none;
border-radius:5px;
cursor:pointer;
color:#fff;
}